.user-card {
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.2s ease-in;
  height: 100%;
  width: 100%;
}

.user-card:hover {
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4);
}

.user-card .user-cover {
  height: 120px;
  width: 100%;
  background-color: dodgerblue;
  position: relative;
}

.user-card .user-cover .user-avatar {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -25px;
  border: 1px solid #fff;
}

.user-card .user-details {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 75px;
  width: 80%;
  font-size: 2rem;
}

.user-card .user-details2 {
  text-align: center;
  margin-top: 20px;

  width: 80%;
  color: black;
}
.user-card .user-details2 .user-name1 {
  font-size: 2rem;
}

.user-card .contact-user {
  margin-bottom: 15px;
  height: 35px;
  width: 80%;
  border: 0;
  color: dodgerblue;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  opacity: 1;
  transition-duration: 1s;
}

.flip-card {
  margin: 35px;

  width: 230px;
  height: 320px;
  /* box-shadow: -10px 5px 20px rgba(145, 145, 145, 0.301); */
  border-radius: 15px;
  overflow: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

@media (max-width: 500px) {
  .flip-card {
    margin: 5px;
    border-radius: 10px;
    height: 200px;
  }

  .user-card .user-details {
    margin-top: 0px;
    margin-bottom: 60px;
    font-size: 1.7rem;
  }
  .user-card .user-cover .user-avatar {
    width: 40px;
    height: 40px;
    bottom: 7px;
  }
  .user-card .user-cover {
    height: 55px;
  }
  .user-card .contact-user {
    margin-bottom: 10px;
    height: 30px;
    width: 80%;
    border: 0;
    color: dodgerblue;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .user-card .user-details2 {
    text-align: center;
    margin-top: 10px;
  }
}
