.course {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;

  margin: 20px;
  overflow: hidden;
  width: 300px;
  height: 150px;
  margin: 10px;
}

.course-preview {
  background-color: #2a265f;
  color: #fff;
  padding: 10px;
  width: 20%;
}

.course-info {
  background: white;
  padding: 30px;
  position: relative;
  width: 70%;
}

@media (max-width: 500px) {
  .course {
    width: 250px;

    margin: 10px;
  }
  .course-preview {
    width: 5%;
  }
}
