.float-button {
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  padding: 8px;
  border: 0;
  width: 45px;
  bottom: 35px;
  right: 35px;
  background-color: #50c65e;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  margin: auto;

  z-index: 100;
}

.float-button:hover {
  background-color: #90d573;
}

.fa-whatsapp {
  font-size: 20px !important;
  padding-right: 5px;
  padding-left: 5px;
}

@media (max-width: 545px) {
  span {
    display: none;
  }
  .float-button {
    width: 55px;
    height: 55px;
    bottom: 15px;
    right: 15px;
    border-radius: 100%;
  }
  .fa-whatsapp {
    font-size: 40px !important;
  }
}
