div.bar input:focus {
  outline: none;
}
div.bar input {
  margin-left: 10px;
  background: transparent;
  border: none;
  width: 90%;
  color: white;
}
div.bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 40px;
  width: 500px;
  border: 1px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
}
div.bar button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
div.bar button svg {
  fill: white;
}

@media (max-width: 500px) {
  div.bar {
    height: 40px;
    width: 300px;
  }
  div.bar input {
    width: 85%;
  }
  div.bar button {
    margin-right: 4px;
  }
}
