.receipt {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  height: 350px;
  background: #fff;

  box-shadow: 2px 2px 5px #ccc;
  margin: 8px;
}
.logo {
  width: 99%;
  height: 20%;
}
.logo img {
  width: 90%;

  text-align: center;
  height: 100%;
}

.data {
  height: 70%;
  display: flex;
  flex-direction: column;
}
.folio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.folio h4 {
  font-size: 0.8rem;
  text-align: center;
}
.folio h5 {
  font-size: 0.6rem;
  text-align: center;
}
.fecha h4 {
  font-size: 0.8rem;
  text-align: center;
}
.fecha h5 {
  font-size: 0.6rem;
  text-align: center;
}
.pago h4 {
  font-size: 0.8rem;
  text-align: center;
}
.pago h5 {
  font-size: 0.6rem;
  text-align: center;
}
.importe h4 {
  font-size: 0.8rem;
  text-align: center;
}
.importe h5 {
  font-size: 0.6rem;
  text-align: center;
}

.cliente h4 {
  font-size: 0.8rem;
  text-align: center;
}
.cliente h5 {
  font-size: 0.6rem;
  text-align: center;
}
.proyecto h4 {
  font-size: 0.8rem;
  text-align: center;
}
.proyecto h5 {
  font-size: 0.6rem;
  text-align: center;
}

.qr {
  margin-top: 10px;
}
