.receipt {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  height: 350px;
  background: #fff;

  box-shadow: 2px 2px 5px #ccc;
  margin: 8px;
}
.logo {
  width: 99%;
  height: 20%;
}
.logo img {
  width: 90%;

  text-align: center;
  height: 100%;
}

.data {
  height: 70%;
  display: flex;
  flex-direction: column;
}
.folio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.folio h4 {
  font-size: 0.8rem;
  text-align: center;
}
.folio h5 {
  font-size: 0.6rem;
  text-align: center;
}
.fecha h4 {
  font-size: 0.8rem;
  text-align: center;
}
.fecha h5 {
  font-size: 0.6rem;
  text-align: center;
}
.pago h4 {
  font-size: 0.8rem;
  text-align: center;
}
.pago h5 {
  font-size: 0.6rem;
  text-align: center;
}
.importe h4 {
  font-size: 0.8rem;
  text-align: center;
}
.importe h5 {
  font-size: 0.6rem;
  text-align: center;
}

.cliente h4 {
  font-size: 0.8rem;
  text-align: center;
}
.cliente h5 {
  font-size: 0.6rem;
  text-align: center;
}
.proyecto h4 {
  font-size: 0.8rem;
  text-align: center;
}
.proyecto h5 {
  font-size: 0.6rem;
  text-align: center;
}

.qr {
  margin-top: 10px;
}

/* Context menu css */

nav.react-contextmenu {
  position: fixed;
  width: 200px;
  left: 0;
  top: calc(100% + 10px);
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.react-contextmenu .react-contextmenu-item:hover {
  background: #cccccc;
}

.react-contextmenu-item:hover:not(.react-contextmenu-item--disabled) {
  background-color: #f1f1f1;
}

.react-contextmenu .react-contextmenu-item {
  font-size: 14px;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  position: relative;
  margin-bottom: 2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
}
.react-contextmenu-item span {
  margin-left: 10px;
}
.react-contextmenu-item svg {
  font-size: 14px;
}
.react-contextmenu-item .copy {
  color: skyblue;
}
.react-contextmenu-item .delete {
  color: red;
}
.react-contextmenu-item .send {
  color: blue;
}
.react-contextmenu-item .share {
  color: green;
}
.react-contextmenu-item .watchlist {
  color: rebeccapurple;
}
