@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap");

* {
  font-family: "Jura", sans-serif;
  letter-spacing: 3px;
  font-weight: lighter;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
